<nav class='nav'>
    <ul class='nav__list'>
        <a href="/products"><li class='list__item'>Products</Link></li></a>
        <a href="/chat"><li class='list__item'>Chat</li></a>
        <a href="/realtimeproducts"><li class='list__item'>Real time products</Link></li></a>
    </ul>
</nav>

<div>
    <h1 class="">Chat</h2>
    <input type="text" id="text" class="">
    <ul id="messages">

    </ul>
        
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/chat.js"></script>