<section>
    <form id="loginForm" action="/api/sessions/login" method="post"><br>
        <input type="email" name="email" id="email" placeholder="email"> <br>
        <input type="password" name="password" id="password">
        <button type="submit">Sign In</button>
    </form>
    <a href="/api/sessions/github">Log in with Github</a> <br>
    <a href="/register">Register</a>
</section>

